* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
}

main>header {}

/* Navegação do Header */
main>header>nav {
    background-color: #16a4b4;
    padding: 10px 10px 10px 20px;
    color: white;
}

/* Texto do Header "Minhas Tarefas" */
main>header>nav>p {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

/* Main */
main>section {
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
}

main>section>aside {
    box-shadow: 1px 1px 1px lightseagreen;
    background-image: linear-gradient(to bottom, white, #b2ebf2);
}

main>section>aside>.header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    padding: 20px 20px 45px 20px;
    /* box-shadow: 1px 1px 1px lightseagreen; */
}

main>section>aside>.header>.user {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

main>section>aside>.header>.user>img {
    background-color: lightseagreen;
}

main>section>aside>.header>.name {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

main>section>aside>.header>.name>label {
    color: rgb(3, 100, 95);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main>section>aside>.header>.search {
    color: lightseagreen;
    display: flex;
    align-items: center;
}

main>section>aside>.navigator {
    color: rgb(3, 100, 95);
}

main>section>aside>.navigator>ul {
    padding: 0;
}

main>section>aside>.navigator>ul>li {
    list-style: none;
    margin: 5px 0px 0px 0px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    box-shadow: 1px 1px 1px lightseagreen;
}

main>section>aside>.navigator>ul>li:hover {
    background-color: rgb(205, 253, 251);
}

/*  */
main>section>section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}

main>section>section>.bar {
    background-image: linear-gradient(to bottom, #128c99, #16a4b4);
    display: flex;
    align-items: flex-end;
    filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(0px);
}

main>section>section>.bar>.items-bar {
    width: 100%;
    display: grid;
    padding-right: 10px;
    grid-template-columns: 6fr 1fr 1fr;
    align-items: center;
    box-shadow: 1px 1px 1px seagreen;
}

main>section>section>.bar>.items-bar>h1 {
    color: white;
    font-size: 40px;
    padding: 0px 0px 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main>section>section>.bar>.items-bar>button {
    width: 99%;
    height: 60%;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px seagreen;
}

main>section>section>.bar>.items-bar>button>i {
    color: seagreen;
}

main>section>section>.body {
    background-image: linear-gradient(to bottom, #b2e7ee, #12afc4);
}

main>section>section>.body>.addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

main>section>section>.body>.addTask>input {
    width: 50%;
    padding: 1%;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px 1px lightseagreen;
    outline: none;
    font-size: 18px;
    color: green;
}

main>section>section>.body>.addTask>input::-webkit-input-placeholder {
    color: seagreen;
}

.headerTasks {
    padding: 2%;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: darkgreen;
    display: grid;
    grid-template-columns: 6fr 1fr;
}

main>section>section>.body>.lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main>section>section>.body>.lists>.todo {
    height: 60vh;
    padding: 0 10% 0 10%;
}

main>section>section>.body>.lists>.todo>.items {
    list-style: none;
    height: 90%;
    overflow-y: scroll;
}

*::-webkit-scrollbar {
    width: .1px;
}

main>section>section>.body>.lists>.todo>.items>.notItem {
    background-color: white;
    border-radius: 5px;
    padding: 4% 5% 4% 5%;
    margin: 1%;
    color: seagreen;
    font-size: 14px;
    font-family: sans-serif;
    box-shadow: 1px 1px 5px seagreen;
}

main>section>section>.body>.lists>.todo>.items>ul {
    /* display: none; */
}

main>section>section>.body>.lists>.todo>.items>ul>li {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 4% 2% 4% 0;
    margin: 1%;
    box-shadow: 1px 1px 5px seagreen;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;

}

main>section>section>.body>.lists>.todo>.items>ul>li:hover {
    box-shadow: .1px .1px 6px 2px seagreen;
}

main>section>section>.body>.lists>.todo>.items>ul>li>.checkTask {
    display: flex;
    justify-content: center;
    align-items: center;
}

main>section>section>.body>.lists>.todo>.items>ul>li>.textTask {
    padding: 0px 15px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
}

main>section>section>.body>.lists>.todo>.items>ul>li>.textTask>label {
    color: seagreen;
}

main>section>section>.body>.lists>.todo>.items>ul>li>.actionsTask {
    background-color: #ffffffd8;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>section>section>.body>.lists>.todo>.items>ul>li>.actionsTask>button {
    margin: 5px;
    border: none;
    color: green;
    background-color: #ffffffd8;
}